@import "_colors"
@import "./../variable"
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)

html, body
	background-color BgColor

body, h1, h2, h3, h4, h5, h6, p, a, span, li, dl, dt, dd, input
	font-family 'Noto Sans Japanese', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, sans-serif
	font-weight 300
p
	line-height 1.8em
	font-size 10.5pt
	font-weight 300
a
	text-decoration none
	color Gray800
	&:hover
		color Gray400
		
*
	webkit-box-sizing border-box
	-moz-box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	box-sizing border-box