@import "_colors"
@import "./../mixin/mixins"
@import "./../variable"	

.page-content
	centering Object
	padding-top 20px
	padding-bottom 40px
	
.content-header
	margin-bottom 40px
	.content-title
		font-size 16pt
		font-weight 500
	.underline
		font-weight 500
		border-bottom 3px solid Gray300

.content-body
	centering Object
	padding 0

.columns
	display flex
	justify-content space-between
	.column
		width 100%
		&:not(:first-child)
			margin-left 20px
		&:not(:last-child)
			margin-right 20px